iterators.dtd

<!ELEMENT iterators (iterator+)>
<!ELEMENT iterator (iteratorType,keyWord,element,arg?)>

<!ELEMENT iteratorType (#PCDATA)>
<!ELEMENT keyWord (#PCDATA)>
<!ELEMENT element (elemType,varName)>
<!ELEMENT arg (argType,varName)>

<!ELEMENT elemType (#PCDATA)>
<!ELEMENT argType (#PCDATA)>
<!ELEMENT varName (#PCDATA)>
